* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    font-family: sans-serif;
}

.home-page {
    background-color: #161616;
    height: 100vh;
    display: grid;
    place-items: center;
}

.home-page .flip-card-wrapper {
    position: relative;
    z-index: 1;
    perspective: 1000px;
    transform: perspective(1000px);
    height: 500px;
    width: 450px;
}

.home-page .flip-card-wrapper .flip-card-front {
    position: absolute;
    inset: 0;
    backface-visibility: hidden;
    transition: transform 0.8s ease;
    padding: 32px;
    border: 1px solid white;
    background: #242424;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home-page .flip-card-wrapper .flip-card-back {
    position: absolute;
    inset: 0;
    backface-visibility: hidden;
    transform: rotateY(-180deg);
    background-color: #242424;
    color: white;
    font-size: 32px;
    border: 1px solid white;
    transition: transform 0.8s ease;
}

.home-page .flip-card-wrapper .flip-card-front .card-front-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.home-page .flip-card-wrapper .flip-card-front .card-front-bottom {
    color: white;
    font-size: 48px;
}