* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    font-family: sans-serif;
}

.home-page {
    background-color: #0f0f0f;
    display: grid;
    place-items: center;
    height: 100vh;
    padding: 32px;
}

.home-page .gradient-text {
    font-size: 108px;
    font-weight: bold;
    background: linear-gradient(90deg, #c600ff, #ff0000, #006fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 200%;
    animation: gradAnim 5s infinite ease alternate;
}

@keyframes gradAnim {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0 50%;
    }
}